.card.lottery {
    border: 0;
    .card-title {
        font-weight: bold;
    }
}
.cta-lottery {
    background: $white;
    height: 300px;
    &:before {
        opacity: 0.6;
        background-image: url('/../images/lottery-balls.jpg');
    }
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 75px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
    }
}

.lottery-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &.balls-3, &.balls-4 {
        font-size: 30px;
        max-height: 165px;
    }
}

.jumbotron a {
    color: $white;
}

.fun {
    padding: 10px 0;
    background-color: #ffef01;
}