@media (min-width: 1900px) {
	.no-webp {
		.rifles-banner {
	  		background-image: url('/../images/1980/rifles-1980x1311.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/1980/lottery-1980x1311.jpg');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1980/newspapers-1980x1311.jpg');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1980/operation-braveheart-memorial-garden-1980x1311.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/1980/lottery-1980x1311.jpg');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1980/operation-braveheart-shop-1980x1311.jpg');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1980/bg-contact-1980x1311.jpg');
	  	}
	}
	.webp {
		.rifles-banner {
	 		background-image: url('/../images/1980/rifles-1980x1311.webp');
	 	}
	 	.lottery-banner {
	 		background-image: url('/../images/1980/lottery-1980x1311.webp');
	 	}
	  	.news-banner {
	  		background-image: url('/../images/1980/newspapers-1980x1311.webp');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1980/operation-braveheart-memorial-garden-1980x1311.webp');
	  	}
	 	.lottery-banner {
	  		background-image: url('/../images/1980/lottery-1980x1311.webp');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1980/operation-braveheart-shop-1980x1311.webp');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1980/bg-contact-1980x1311.webp');
	  	}
	}

	.lottery-number {
		&.balls-3 {
	        font-size: 50px;
	        max-height: 228px;
	    }

	    &.balls-4 {
	        font-size: 32px;
	        max-height: 165px;
	    }
	}

	.fun {
    	padding: 30px 0;
    }

    #plaque {
	    padding: 30px 100px 20px;
	}
}

@media (min-width: 1600px) {
	.no-webp {
		.rifles-banner {
	  		background-image: url('/../images/1660/rifles-1660x1099.jpg');
	  	}
	  	.about-banner {
	  		background-image: url('/../images/1660/daniel-coffey-memorial-1660x1099.jpg');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1660/newspapers-1660x1099.jpg');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1660/operation-braveheart-memorial-garden-1660x1099.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/1660/lottery-1660x1099.jpg');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1660/operation-braveheart-shop-1660x1099.jpg');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1660/bg-contact-1660x1099.jpg');
	  	}
	}
	.webp {
		.rifles-banner {
	 		background-image: url('/../images/1660/rifles-1660x1099.webp');
	 	}
	 	.about-banner {
	  		background-image: url('/../images/1660/daniel-coffey-memorial-1660x1099.webp');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1660/newspapers-1660x1099.webp');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1660/operation-braveheart-memorial-garden-1660x1099.webp');
	  	}
	 	.lottery-banner {
	  		background-image: url('/../images/1660/lottery-1660x1099.webp');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1660/operation-braveheart-shop-1660x1099.webp');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1660/bg-contact-1660x1099.webp');
	  	}
	}

	.fun {
    	padding: 25px 0;
    }

    #plaque {
	    padding: 30px 100px 20px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	.no-webp {
		.rifles-banner {
	  		background-image: url('/../images/1440/rifles-1440x953.jpg');
	  	}
	  	.about-banner {
	  		background-image: url('/../images/1440/daniel-coffey-memorial-1440x953.jpg');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1440/newspapers-1440x953.jpg');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1440/operation-braveheart-memorial-garden-1440x953.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/1440/lottery-1440x953.jpg');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1440/operation-braveheart-shop-1440x953.jpg');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1440/bg-contact-1440x953.jpg');
	  	}
	}
	.webp {
		.rifles-banner {
	 		background-image: url('/../images/1440/rifles-1440x953.webp');
	 	}
	 	.about-banner {
	  		background-image: url('/../images/1440/daniel-coffey-memorial-1440x953.webp');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1440/newspapers-1440x953.webp');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1440/operation-braveheart-memorial-garden-1440x953.webp');
	  	}
	 	.lottery-banner {
	  		background-image: url('/../images/1440/lottery-1440x953.webp');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1440/operation-braveheart-shop-1440x953.webp');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1440/bg-contact-1440x953.webp');
	  	}
	}

	.lottery-number {
		&.balls-3 {
	        font-size: 50px;
	        max-height: 228px;
	    }

	    &.balls-4 {
	        font-size: 32px;
	        max-height: 165px;
	    }
	}

	.fun {
    	padding: 25px 0;
    }

    #plaque {
	    padding: 30px 100px 20px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
	.no-webp {
		.rifles-banner {
	  		background-image: url('/../images/1440/rifles-1440x953.jpg');
	  	}
	  	.about-banner {
	  		background-image: url('/../images/1440/daniel-coffey-memorial-1440x953.jpg');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1440/newspapers-1440x953.jpg');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1440/operation-braveheart-memorial-garden-1440x953.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/1440/lottery-1440x953.jpg');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1440/operation-braveheart-shop-1440x953.jpg');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1440/bg-contact-1440x953.jpg');
	  	}
	}
	.webp {
		.rifles-banner {
	 		background-image: url('/../images/1440/rifles-1440x953.webp');
	 	}
	 	.about-banner {
	  		background-image: url('/../images/1440/daniel-coffey-memorial-1440x953.webp');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/1440/newspapers-1440x953.webp');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/1440/operation-braveheart-memorial-garden-1440x953.webp');
	  	}
	 	.lottery-banner {
	  		background-image: url('/../images/6144000/lottery-1440x953.webp');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/1440/operation-braveheart-shop-1440x953.webp');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/1440/bg-contact-1440x953.webp');
	  	}
	}

	.fun {
    	padding: 20px 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.no-webp {
		.rifles-banner {
	  		background-image: url('/../images/600/rifles-600x397.jpg');
	  	}
	  	.about-banner {
	  		background-image: url('/../images/600/daniel-coffey-memorial-600x397.jpg');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/600/newspapers-600x397.jpg');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/600/operation-braveheart-memorial-garden-600x397.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/600/lottery-600x397.jpg');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/600/operation-braveheart-shop-600x397.jpg');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/600/bg-contact-600x307.jpg');
	  	}
	}

	.webp {
		.rifles-banner {
	 		background-image: url('/../images/600/rifles-600x397.webp');
	 	}
	 	.about-banner {
	  		background-image: url('/../images/600/daniel-coffey-memorial-600x397.webp');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/600/newspapers-600x397.webp');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/600/operation-braveheart-memorial-garden-600x397.webp');
	  	}
	 	.lottery-banner {
	  		background-image: url('/../images/600/lottery-600x397.webp');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/600/operation-braveheart-shop-600x397.webp');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/600/bg-contact-600x307.webp');
	  	}
	}

	.fun {
    	padding: 15px 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.no-webp {
		.rifles-banner {
	  		background-image: url('/../images/600/rifles-600x397.jpg');
	  	}
	  	.about-banner {
	  		background-image: url('/../images/600/daniel-coffey-memorial-600x397.jpg');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/600/newspapers-600x397.jpg');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/600/operation-braveheart-memorial-garden-600x397.jpg');
	  	}
	  	.lottery-banner {
	  		background-image: url('/../images/600/lottery-600x397.jpg');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/600/operation-braveheart-shop-600x397.jpg');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/600/bg-contact-600x307.jpg');
	  	}
	}

	.webp {
		.rifles-banner {
	 		background-image: url('/../images/600/rifles-600x397.webp');
	 	}
	 	.about-banner {
	  		background-image: url('/../images/600/daniel-coffey-memorial-600x397.webp');
	  	}
	  	.news-banner {
	  		background-image: url('/../images/600/newspapers-600x397.webp');
	  	}
	  	.memorial-banner {
	  		background-image: url('/../images/600/operation-braveheart-memorial-garden-600x397.webp');
	  	}
	 	.lottery-banner {
	  		background-image: url('/../images/600/lottery-600x397.webp');
	  	}
	  	.shop-banner {
	  		background-image: url('/../images/600/operation-braveheart-shop-600x397.webp');
	  	}
	  	.contact-banner {
	  		background-image: url('/../images/600/bg-contact-600x397.webp');
	  	}
	}

	.fun {
    	padding: 10px 0;
    }
}