// Import Core Clean Blog SCSS
@import "clean-blog.scss";

.navbar-brand, .nav-item {
    font-family: 'Poiret One', cursive;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.bg-blue {
    background-color: $primary;
    color: #fff;
    p {
        font-size: 15px;
    }
    .form-control {
        height: calc(1.5em + 0.75rem + 18px);
        margin-right: 10px;
    }
}

.bg-none {
    backround-color: transparent !important;
}

.cta {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media (min-width: 576px) {
    .bg-blue .form-inline .input-group {
        width: 80%;
    }
}

#card-background {
    padding: 15px 30px;
    background-color: $gray-300;
    border-radius: 10px;
    border: 1px solid $gray-400;
    margin-bottom: 15px;
    label {
        font-weight: bold;
        font-size: 80%;
    }
    #card-number,
    #card-cvc,
    #card-expiry {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $gray-400;
        background-color: $white;
    }
    .stripeError {
        color: red;
        font-style: italic;
    }
    .ccards {
        width: 100%;
        height: 100%;
        background-image: url('/../images/cards.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.select-container {
    position: relative;
    width: 100%;

    select {
        border: 2px solid #eee;
        border-radius: 10px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance:none;
        width: 100%;
        height: 35px;
        line-height: 35px;
        background: #FFF;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;
        outline:none;
        padding-left: 15px;
        box-shadow: 3px 3px 30px #eee;
        transition: 0.2s;
        &:focus, select:hover {
            box-shadow: 3px 3px 10px #eee
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
        &select::-ms-expand {
            display: none;
        }
    }

    .select-arrow {
        color: #333;
        right:0px;
        top: 10px;
        width:30px;
        position:absolute;
        display:block;
        z-index: 10;
        margin: 0 0 0 0;
        pointer-events:none;
    }
}