// Import Core Clean Blog SCSS
@import "clean-blog.scss";

.navbar-brand, .nav-item {
    font-family: 'Poiret One', cursive;
}

.bg-blue {
    background-color: $primary;
    color: #fff;
    p {
        font-size: 15px;
    }
    .form-control {
        height: calc(1.5em + 0.75rem + 18px);
        margin-right: 10px;
    }
}

.cta {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media (min-width: 576px) {
    .bg-blue .form-inline .input-group {
        width: 80%;
    }
}