body {
  font-size: 20px;
  color: #212529;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  transition: all 0.2s;
}

a:focus,
a:hover {
  color: #0085A1;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 900;
  padding: 13px;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-nav > li.nav-item > a:focus,
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }

  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }

  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", "Times New Roman", serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }

  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus,
.post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus,
.post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .news-item {
    color: #212529;
  }

  .news-item > .post-title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .news-item > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
  }

  .news-item > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: "Lora", "Times New Roman", serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: "Lora", "Times New Roman", serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.cta-memorial {
  background: #000000;
  padding: 50px;
}

.cta-memorial:before {
  opacity: 0.6;
  background-image: url("/../images/lone-soldier.jpg");
}

.cta-memorial h3 {
  text-align: center;
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.cta-memorial p {
  text-align: center;
  z-index: 2;
  position: relative;
  font-family: "Satisfy", cursive;
  color: #fff;
  margin-bottom: 0;
}

#plaque {
  position: relative;
  padding: 40px 10px 20px;
  background-image: url("/../images/metallic-effect.jpg");
  margin-bottom: 15px;
}

#plaque .form-group {
  margin-bottom: 0;
}

#plaque .form-control {
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

#plaque .screw {
  position: absolute;
  background-image: url("/../images/screw.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  width: 30px;
  height: 30px;
}

#plaque .screw.top {
  top: 5px;
}

#plaque .screw.bottom {
  bottom: 5px;
}

#plaque .screw.left {
  left: 5px;
}

#plaque .screw.right {
  right: 5px;
}

#plaque .text-danger {
  font-size: 70%;
}

.remaining {
  font-size: 70%;
  color: #0085A1;
  margin: 10px 0 0;
}

#carousel-1 .img-fluid {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#address-list {
  margin-top: 10px;
  max-width: 100%;
  z-index: 2;
  background: #fff;
  position: absolute;
  top: 0;
  border: 1px solid #0085A1;
}

#address-list div {
  padding: 5px 15px;
  font-size: 90%;
  cursor: pointer;
}

#address-list div:first-child {
  padding-top: 5px;
}

#address-list div:hover {
  background-color: #868e96;
  color: #fff;
}

.uk-form-danger {
  font-size: 70%;
  color: red;
}

.card.lottery {
  border: 0;
}

.card.lottery .card-title {
  font-weight: bold;
}

.cta-lottery {
  background: #fff;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-lottery:before {
  opacity: 0.6;
  background-image: url("/../images/lottery-balls.jpg");
}

.cta-lottery span {
  font-size: 75px;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.lottery-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.lottery-number.balls-3,
.lottery-number.balls-4 {
  font-size: 30px;
  max-height: 165px;
}

.jumbotron a {
  color: #fff;
}

.fun {
  padding: 10px 0;
  background-color: #ffef01;
}

@media (min-width: 1900px) {
  .no-webp .rifles-banner {
    background-image: url("/../images/1980/rifles-1980x1311.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/1980/lottery-1980x1311.jpg");
  }

  .no-webp .news-banner {
    background-image: url("/../images/1980/newspapers-1980x1311.jpg");
  }

  .no-webp .memorial-banner {
    background-image: url("/../images/1980/operation-braveheart-memorial-garden-1980x1311.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/1980/lottery-1980x1311.jpg");
  }

  .no-webp .shop-banner {
    background-image: url("/../images/1980/operation-braveheart-shop-1980x1311.jpg");
  }

  .no-webp .contact-banner {
    background-image: url("/../images/1980/bg-contact-1980x1311.jpg");
  }

  .webp .rifles-banner {
    background-image: url("/../images/1980/rifles-1980x1311.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/1980/lottery-1980x1311.webp");
  }

  .webp .news-banner {
    background-image: url("/../images/1980/newspapers-1980x1311.webp");
  }

  .webp .memorial-banner {
    background-image: url("/../images/1980/operation-braveheart-memorial-garden-1980x1311.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/1980/lottery-1980x1311.webp");
  }

  .webp .shop-banner {
    background-image: url("/../images/1980/operation-braveheart-shop-1980x1311.webp");
  }

  .webp .contact-banner {
    background-image: url("/../images/1980/bg-contact-1980x1311.webp");
  }

  .lottery-number.balls-3 {
    font-size: 50px;
    max-height: 228px;
  }

  .lottery-number.balls-4 {
    font-size: 32px;
    max-height: 165px;
  }

  .fun {
    padding: 30px 0;
  }

  #plaque {
    padding: 30px 100px 20px;
  }
}

@media (min-width: 1600px) {
  .no-webp .rifles-banner {
    background-image: url("/../images/1660/rifles-1660x1099.jpg");
  }

  .no-webp .about-banner {
    background-image: url("/../images/1660/daniel-coffey-memorial-1660x1099.jpg");
  }

  .no-webp .news-banner {
    background-image: url("/../images/1660/newspapers-1660x1099.jpg");
  }

  .no-webp .memorial-banner {
    background-image: url("/../images/1660/operation-braveheart-memorial-garden-1660x1099.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/1660/lottery-1660x1099.jpg");
  }

  .no-webp .shop-banner {
    background-image: url("/../images/1660/operation-braveheart-shop-1660x1099.jpg");
  }

  .no-webp .contact-banner {
    background-image: url("/../images/1660/bg-contact-1660x1099.jpg");
  }

  .webp .rifles-banner {
    background-image: url("/../images/1660/rifles-1660x1099.webp");
  }

  .webp .about-banner {
    background-image: url("/../images/1660/daniel-coffey-memorial-1660x1099.webp");
  }

  .webp .news-banner {
    background-image: url("/../images/1660/newspapers-1660x1099.webp");
  }

  .webp .memorial-banner {
    background-image: url("/../images/1660/operation-braveheart-memorial-garden-1660x1099.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/1660/lottery-1660x1099.webp");
  }

  .webp .shop-banner {
    background-image: url("/../images/1660/operation-braveheart-shop-1660x1099.webp");
  }

  .webp .contact-banner {
    background-image: url("/../images/1660/bg-contact-1660x1099.webp");
  }

  .fun {
    padding: 25px 0;
  }

  #plaque {
    padding: 30px 100px 20px;
  }
}

/* Large desktop */

@media (min-width: 1200px) {
  .no-webp .rifles-banner {
    background-image: url("/../images/1440/rifles-1440x953.jpg");
  }

  .no-webp .about-banner {
    background-image: url("/../images/1440/daniel-coffey-memorial-1440x953.jpg");
  }

  .no-webp .news-banner {
    background-image: url("/../images/1440/newspapers-1440x953.jpg");
  }

  .no-webp .memorial-banner {
    background-image: url("/../images/1440/operation-braveheart-memorial-garden-1440x953.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/1440/lottery-1440x953.jpg");
  }

  .no-webp .shop-banner {
    background-image: url("/../images/1440/operation-braveheart-shop-1440x953.jpg");
  }

  .no-webp .contact-banner {
    background-image: url("/../images/1440/bg-contact-1440x953.jpg");
  }

  .webp .rifles-banner {
    background-image: url("/../images/1440/rifles-1440x953.webp");
  }

  .webp .about-banner {
    background-image: url("/../images/1440/daniel-coffey-memorial-1440x953.webp");
  }

  .webp .news-banner {
    background-image: url("/../images/1440/newspapers-1440x953.webp");
  }

  .webp .memorial-banner {
    background-image: url("/../images/1440/operation-braveheart-memorial-garden-1440x953.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/1440/lottery-1440x953.webp");
  }

  .webp .shop-banner {
    background-image: url("/../images/1440/operation-braveheart-shop-1440x953.webp");
  }

  .webp .contact-banner {
    background-image: url("/../images/1440/bg-contact-1440x953.webp");
  }

  .lottery-number.balls-3 {
    font-size: 50px;
    max-height: 228px;
  }

  .lottery-number.balls-4 {
    font-size: 32px;
    max-height: 165px;
  }

  .fun {
    padding: 25px 0;
  }

  #plaque {
    padding: 30px 100px 20px;
  }
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1199px) {
  .no-webp .rifles-banner {
    background-image: url("/../images/1440/rifles-1440x953.jpg");
  }

  .no-webp .about-banner {
    background-image: url("/../images/1440/daniel-coffey-memorial-1440x953.jpg");
  }

  .no-webp .news-banner {
    background-image: url("/../images/1440/newspapers-1440x953.jpg");
  }

  .no-webp .memorial-banner {
    background-image: url("/../images/1440/operation-braveheart-memorial-garden-1440x953.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/1440/lottery-1440x953.jpg");
  }

  .no-webp .shop-banner {
    background-image: url("/../images/1440/operation-braveheart-shop-1440x953.jpg");
  }

  .no-webp .contact-banner {
    background-image: url("/../images/1440/bg-contact-1440x953.jpg");
  }

  .webp .rifles-banner {
    background-image: url("/../images/1440/rifles-1440x953.webp");
  }

  .webp .about-banner {
    background-image: url("/../images/1440/daniel-coffey-memorial-1440x953.webp");
  }

  .webp .news-banner {
    background-image: url("/../images/1440/newspapers-1440x953.webp");
  }

  .webp .memorial-banner {
    background-image: url("/../images/1440/operation-braveheart-memorial-garden-1440x953.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/6144000/lottery-1440x953.webp");
  }

  .webp .shop-banner {
    background-image: url("/../images/1440/operation-braveheart-shop-1440x953.webp");
  }

  .webp .contact-banner {
    background-image: url("/../images/1440/bg-contact-1440x953.webp");
  }

  .fun {
    padding: 20px 0;
  }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
  .no-webp .rifles-banner {
    background-image: url("/../images/600/rifles-600x397.jpg");
  }

  .no-webp .about-banner {
    background-image: url("/../images/600/daniel-coffey-memorial-600x397.jpg");
  }

  .no-webp .news-banner {
    background-image: url("/../images/600/newspapers-600x397.jpg");
  }

  .no-webp .memorial-banner {
    background-image: url("/../images/600/operation-braveheart-memorial-garden-600x397.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/600/lottery-600x397.jpg");
  }

  .no-webp .shop-banner {
    background-image: url("/../images/600/operation-braveheart-shop-600x397.jpg");
  }

  .no-webp .contact-banner {
    background-image: url("/../images/600/bg-contact-600x307.jpg");
  }

  .webp .rifles-banner {
    background-image: url("/../images/600/rifles-600x397.webp");
  }

  .webp .about-banner {
    background-image: url("/../images/600/daniel-coffey-memorial-600x397.webp");
  }

  .webp .news-banner {
    background-image: url("/../images/600/newspapers-600x397.webp");
  }

  .webp .memorial-banner {
    background-image: url("/../images/600/operation-braveheart-memorial-garden-600x397.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/600/lottery-600x397.webp");
  }

  .webp .shop-banner {
    background-image: url("/../images/600/operation-braveheart-shop-600x397.webp");
  }

  .webp .contact-banner {
    background-image: url("/../images/600/bg-contact-600x307.webp");
  }

  .fun {
    padding: 15px 0;
  }
}

/* Landscape phones and down */

@media (max-width: 480px) {
  .no-webp .rifles-banner {
    background-image: url("/../images/600/rifles-600x397.jpg");
  }

  .no-webp .about-banner {
    background-image: url("/../images/600/daniel-coffey-memorial-600x397.jpg");
  }

  .no-webp .news-banner {
    background-image: url("/../images/600/newspapers-600x397.jpg");
  }

  .no-webp .memorial-banner {
    background-image: url("/../images/600/operation-braveheart-memorial-garden-600x397.jpg");
  }

  .no-webp .lottery-banner {
    background-image: url("/../images/600/lottery-600x397.jpg");
  }

  .no-webp .shop-banner {
    background-image: url("/../images/600/operation-braveheart-shop-600x397.jpg");
  }

  .no-webp .contact-banner {
    background-image: url("/../images/600/bg-contact-600x307.jpg");
  }

  .webp .rifles-banner {
    background-image: url("/../images/600/rifles-600x397.webp");
  }

  .webp .about-banner {
    background-image: url("/../images/600/daniel-coffey-memorial-600x397.webp");
  }

  .webp .news-banner {
    background-image: url("/../images/600/newspapers-600x397.webp");
  }

  .webp .memorial-banner {
    background-image: url("/../images/600/operation-braveheart-memorial-garden-600x397.webp");
  }

  .webp .lottery-banner {
    background-image: url("/../images/600/lottery-600x397.webp");
  }

  .webp .shop-banner {
    background-image: url("/../images/600/operation-braveheart-shop-600x397.webp");
  }

  .webp .contact-banner {
    background-image: url("/../images/600/bg-contact-600x397.webp");
  }

  .fun {
    padding: 10px 0;
  }
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-outline-primary {
  color: #0085A1;
  background-color: #fff;
  border-color: #0085A1;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: #00657b !important;
  background-color: #fff;
  border-color: #00657b !important;
}

.navbar-brand,
.nav-item {
  font-family: "Poiret One", cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.bg-blue {
  background-color: #0085A1;
  color: #fff;
}

.bg-blue p {
  font-size: 15px;
}

.bg-blue .form-control {
  height: calc(1.5em + 0.75rem + 18px);
  margin-right: 10px;
}

.bg-none {
  backround-color: transparent !important;
}

.cta {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cta:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  background-size: cover;
}

@media (min-width: 576px) {
  .bg-blue .form-inline .input-group {
    width: 80%;
  }
}

#card-background {
  padding: 15px 30px;
  background-color: #dee2e6;
  border-radius: 10px;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
}

#card-background label {
  font-weight: bold;
  font-size: 80%;
}

#card-background #card-number,
#card-background #card-cvc,
#card-background #card-expiry {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  background-color: #fff;
}

#card-background .stripeError {
  color: red;
  font-style: italic;
}

#card-background .ccards {
  width: 100%;
  height: 100%;
  background-image: url("/../images/cards.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-container select {
  border: 2px solid #eee;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #FFF;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  outline: none;
  padding-left: 15px;
  box-shadow: 3px 3px 30px #eee;
  transition: 0.2s;
}

.select-container select:focus,
.select-container select select:hover {
  box-shadow: 3px 3px 10px #eee;
}

.select-container select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select-container selectselect::-ms-expand {
  display: none;
}

.select-container .select-arrow {
  color: #333;
  right: 0px;
  top: 10px;
  width: 30px;
  position: absolute;
  display: block;
  z-index: 10;
  margin: 0 0 0 0;
  pointer-events: none;
}

/* The check */

.check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check input:checked ~ .checkmark {
  background-color: #fff;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-color: #0085a1;
  border-style: solid;
  border-width: 2px;
}

.check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid;
  border-color: #0085a1;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  font-size: 90%;
}

.notice-sm {
  padding: 10px;
  font-size: 80%;
}

.notice-lg {
  padding: 35px;
  font-size: large;
}

.notice-success {
  border-color: #80D651;
}

.notice-success > strong {
  color: #80D651;
}

.notice-info {
  border-color: #45ABCD;
}

.notice-info > strong {
  color: #45ABCD;
}

.notice-warning {
  border-color: #FEAF20;
}

.notice-warning > strong {
  color: #FEAF20;
}

.notice-danger {
  border-color: #d73814;
}

.notice-danger > strong {
  color: #d73814;
}

