.users-style {
    label.dropdown {
        select {
            padding: 4px 40px 4px 8px;
            background: #f8f8f8;
            color: #444;
            border: 1px solid #aaa;
            border-radius: 0;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            outline: none;
            &:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #444;
            }
            &::-ms-expand {
                display: none;
            }
        }
        position: relative;
        &:before {
            content: '';
            right: 5px;
            top: 1px;
            width: 30px;
            height: 20px;
            background: #f8f8f8;
            position: absolute;
            pointer-events: none;
            display: block;
        }
        &:after {
            content: ">";
            font: 16px Consolas, monospace;
            color: #444;
            transform: rotate(90deg);
            right: 2px;
            top: 4px;
            border-bottom: 1px solid #aaa;
            position: absolute;
            pointer-events: none;
            width: 32px;
            padding: 0px 0 6px 0;
            text-indent: 11px;
        }
    }

    .select-container::before {
        content: 'Show '
    }
    .select-container::after {
        content: ' entries'
    }

    .table {
        width: 100%;

        .sorting {
            position:relative;
        }    
        .sorting:after {
            content: "\f0dc";
            font-family: "Font Awesome 5 Free";
            right: -15px;;
            position:absolute;
            top:0;
        }

        .sorting_asc {
            position:relative;
        }    
        .sorting_asc:after {
            content: "\f0de";
            font-family: "Font Awesome 5 Free";
            right: -15px;;
            position:absolute;
            top:0;
        }
        
        .sorting_desc {
            position:relative;
        }    
        .sorting_desc:after {
            content: "\f0dd";
            font-family: "Font Awesome 5 Free";
            right: -15px;;
            position:absolute;
            top:0;
        }
    }

    nav > a {
        color: white!important;
        margin-right: 10px;
    }
}

.pagination {
    justify-content: flex-end !important;
    .page-stats {
        align-items: center;
        margin-right: 5px;
    }
    i {
        color: #3273dc !important;
    }
}

@media screen\0 {
    .select:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    .select select { padding-right: 40px; }
    .select:before { right: 6px; }
    .select:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}

.nav-item {
    .nav-link {
        &::after{
            width: 1rem;
            text-align: center;
            float: right;
            vertical-align: 0;
            border: 0;
            font-weight: 900;
            content: '\f105';
            font-family: 'Font Awesome 5 Free';
        }
    }
 
    .item-active {
        margin: 0 1rem;
        .rounded {
            padding: .5rem 0;
            min-width: 10rem;
            font-size: .85rem;
            margin: 0 0 1rem 0;
            .collapse-header {
                margin: 0;
                white-space: nowrap;
                padding: .5rem 1.5rem;
                text-transform: uppercase;
                font-weight: 800;
                font-size: .65rem;
                color: #b7b9cc;
            }
            .collapse-item {
                padding: .5rem 1rem;
                margin: 0 .5rem;
                display: block;
                color: #3a3b45;
                text-decoration: none;
                border-radius: .35rem;
                white-space: nowrap;
            }
        }
    }
}

.lottery-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 200px;

    &.blue {
        background-image: url('../images/ball-blue.png');
    }
    &.green {
        background-image: url('../images/ball-green.png');
    }

    .box {
        width: 65px;
        height: 57px;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
    }
}

.btn {
    border-radius: 0;
    i {
        margin-right: 5px;
    }
}

.negative-margin {
    margin-left: -12px;
    margin-right: -12px;
}

.swal2-actions {
    .btn {
        min-width: 80px;
        &:first-child {
            margin-right: 10px;
        }
    }
}

.vdp-datepicker {
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.card.lottery {
    align-items: center;
}

.text-danger {
    font-size: 85%;
}

.file {
  visibility: hidden;
  position: absolute;
}

/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: #fff  ;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #fff ;
        border-color:#4e73df;
        border-style:solid;
        border-width:2px;
        &:after {
            content: "";
            position: absolute;
            display: none;
             left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid ;
            border-color:#4e73df;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }   
    }
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    font-size: 90%;
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}